# Working with MySQL in Python

### Although Pandas offers a method to read SQL statements ( pd.read_sql() ), we will try to provide two alternative functions to work with SQL in Python using the pymysql module. At the end, we will take a look at the "Pandas" way with sqlalchemy.

Import the modules

In [1]:
import pymysql
import pandas as pd

### First function: query_mysql()

##### This function allows you to connect to a MySQL database using pymysql and write SQL queries. In this case the databases are stored locally but it's possible to connect to any MySQL source by changing the default parameters of the function.

#### The function

In [2]:
def query_mysql(db, query):
    # Connect to mysql
    conn = pymysql.connect(
        host='localhost',
        user='root',
        password = "Password",
        #Select the database you want to work on. If you don't need any, set the db parameter to None
        db=db,
        )
    
    # Execute the SQL query and return the results
    cur = conn.cursor()
    cur.execute(query)
    output = cur.fetchall()
    return output

    #Close the connection
    conn.close()

#### Start using SQL

Show databases in host

In [3]:
query_mysql(None, "SHOW DATABASES")

(('astronomia',),
 ('information_schema',),
 ('mysql',),
 ('online_courses',),
 ('performance_schema',),
 ('sys',),
 ('world',))

Select a database and show tables

In [4]:
query_mysql("world", "SHOW TABLES")

(('city',), ('country',), ('countrylanguage',))

Describe a table

In [5]:
for x in query_mysql("world", "DESCRIBE country"):
    print(x)

('Code', 'char(3)', 'NO', 'PRI', '', '')
('Name', 'char(52)', 'NO', '', '', '')
('Continent', "enum('Asia','Europe','North America','Africa','Oceania','Antarctica','South America')", 'NO', '', 'Asia', '')
('Region', 'char(26)', 'NO', '', '', '')
('SurfaceArea', 'float(10,2)', 'NO', '', '0.00', '')
('IndepYear', 'smallint', 'YES', '', None, '')
('Population', 'int', 'NO', '', '0', '')
('LifeExpectancy', 'float(3,1)', 'YES', '', None, '')
('GNP', 'float(10,2)', 'YES', '', None, '')
('GNPOld', 'float(10,2)', 'YES', '', None, '')
('LocalName', 'char(45)', 'NO', '', '', '')
('GovernmentForm', 'char(45)', 'NO', '', '', '')
('HeadOfState', 'char(60)', 'YES', '', None, '')
('Capital', 'int', 'YES', '', None, '')
('Code2', 'char(2)', 'NO', '', '', '')

Run a query to extract data

In [6]:
query_mysql("world", "SELECT Name FROM country WHERE Region = 'Antarctica' ")

(('Antarctica',),
 ('French Southern territories',),
 ('Bouvet Island',),
 ('Heard Island and McDonald Islands',),
 ('South Georgia and the South Sandwich Islands',))

Create a dataframe out of a SQL query

In [7]:
df = pd.DataFrame(query_mysql("world", "SELECT Continent, COUNT(Name) FROM country GROUP BY Continent"), 
                  columns=["Continent", "n° countries"])
df

       Continent  n° countries
0  North America            37
1           Asia            51
2         Africa            58
3         Europe            46
4  South America            14
5        Oceania            28
6     Antarctica             5

### Second function: create_dataframe()

##### This function is built on the previous and it imports the entire table from the database into a dataframe, allowing you to work on it directly on Python .

#### The function

In [8]:
def create_dataframe(db, table):
    #Get columns names from SQL statement
    columns = [x[0] for x in query_mysql(db, "DESCRIBE " + table)]
    #Create a dataframe getting all the data from the table
    df = pd.DataFrame(query_mysql(db, "SELECT * FROM " + table), columns=columns)  
    return df

#### Example of the function

In [9]:
create_dataframe("world", "country")

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

#### Start working on the dataframe

In [10]:
df = create_dataframe("world", "country")
df.columns

Index(['Code', 'Name', 'Continent', 'Region', 'SurfaceArea', 'IndepYear',
       'Population', 'LifeExpectancy', 'GNP', 'GNPOld', 'LocalName',
       'GovernmentForm', 'HeadOfState', 'Capital', 'Code2'],
      dtype='object')

In [11]:
df.dtypes

Code               object
Name               object
Continent          object
Region             object
SurfaceArea       float64
IndepYear         float64
Population          int64
LifeExpectancy    float64
GNP               float64
GNPOld            float64
LocalName          object
GovernmentForm     object
HeadOfState        object
Capital           float64
Code2              object
dtype: object

In [12]:
df.groupby("Continent")["Name"].count()

Continent
Africa           58
Antarctica        5
Asia             51
Europe           46
North America    37
Oceania          28
South America    14
Name: Name, dtype: int64

### The quick "Pandas" way with sqlalchemy

##### the pandas .read_sql() method is very intuitive, but we first need to create an engine using the sqlalchemy module. The text() function will allow Python to read the wildcard % used in SQL.

In [48]:
from sqlalchemy import create_engine, text

engine = create_engine('mysql+pymysql://root:Password@localhost/world')

In [49]:
pd.read_sql("SELECT Continent, COUNT(Name) FROM country GROUP BY Continent", con=engine)

       continent  COUNT(name)
0  North America           37
1           Asia           51
2         Africa           58
3         Europe           46
4  South America           14
5        Oceania           28
6     Antarctica            5

#### A possible function

In [50]:
def create_df_by_query(db, query):
    
    #Create engine
    engine = create_engine('mysql+pymysql://root:Password@localhost/' + db)
    
    #Create dataframe
    df = pd.read_sql(text(query), con=engine)
    
    return df

In [51]:
create_df_by_query("world", "SELECT * FROM country").head()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL

In [52]:
create_df_by_query("world", "SELECT Name, Region, GovernmentForm FROM country WHERE GovernmentForm LIKE '%Dependent Territory%'")

,Name,Region,GovernmentForm
0,Anguilla,Caribbean,Dependent Territory of the UK
1,Bermuda,North America,Dependent Territory of the UK
2,Bouvet Island,Antarctica,Dependent Territory of Norway
3,Cayman Islands,Caribbean,Dependent Territory of the UK
4,Falkland Islands,South America,Dependent Territory of the UK
5,Gibraltar,Southern Europe,Dependent Territory of the UK
6,British Indian Ocean Territory,Eastern Africa,Dependent Territory of the UK
7,Montserrat,Caribbean,Dependent Territory of the UK
8,Pitcairn,Polynesia,Dependent Territory of the UK
9,South Georgia and the South Sandwich Islands,Antarctica,Dependent Territory of the UK
10,Saint Helena,Western Africa,Dependent Territory of the UK
11,Svalbard and Jan Mayen,Nordic Countries,Dependent Territory of Norway
12,Turks and Caicos Islands,Caribbean,Dependent Territory of the UK
13,United States Minor Outlying Islands,Micronesia/Caribbean,Dependent Territory of the US
14,"Virgin Islands, British",Caribbean,Dependent Territory of the UK